.tile-container {
  gap: 32px;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(174px, 1fr));
}

.tile-content .sapMTileCntFtrTxt {
  font-size: 32px;
  height: 3rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 6px #000;
}

.item {
  padding: 16px;
}

.additional-info {
  margin-top: 16px;
  gap: 32px;
}

.hbox-favourite-info {
  flex: 1;
  padding: 16px;
  gap: 24px;
}